@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url(idroid.otf);
}

:root{
    --color01: #acaaec;
    --color02: #8b89ecd5;
    --color03: #4441E8;
    --color04: #3533B5;
    --color05: #2C2B6B;
    --fontepadrao: Arial, Helvetica, sans-serif;
    --fonteheader: 'Bebas Neue', cursive;
    --fonteandroid: android, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8b89ecd5;
    
}

header{
    background-image: linear-gradient(to bottom, var(--color01), #1514389f);
    color: white;
    text-align: center;
    font-family: var(--fonteheader);
    min-height: 100px;
    padding-top: 40px;
}

header p{
    padding-top: 10px;
    max-width: 50%;
    margin: auto;
}

strong{
    color: var(--color05);
}

mark{
    background-color: var(--color01);
}

nav{
    background-color: #1514389f;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.468);
    padding-bottom: 10px;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: var(--color01);
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
}

nav a:hover{
    background-color: #acaaec9e;
    border-radius: 5px;
    color: var(--color05);

}

main{
    background-color: white;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.504);
}

main h1{
    font-family: var(--fonteandroid);
    color: var(--color05);
}

main h2{
    font-family: var(--fonteandroid);
    background-image: linear-gradient(to right, #8b89ecd5, transparent);
    color: var(--color04);
    font-size: 1.2em;
}

main p{
    margin: 15px 0px;
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
}
main img{
    width: 100%;
}

main .pequena{
    width: 50%;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--color05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video iframe{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--color01);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

aside h3{
    background-color: var(--color05);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
 }

 aside a{
    text-decoration: none;
    color: var(--color05);
 }

 aside a:hover{
    color: black;
    text-decoration: underline;
 }

 footer{
    background-color: var(--color05);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 3px;
 }